name: Security Pipeline

on:
  push:   # S'executa a cada push

jobs:
  security-check:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.10'

    - name: Install dependencies
      run: |
        pip install selenium

    # PAS 1 — Unit Testing (Part 2)
    - name: Unit Tests
      run: |
        python -m unittest test_vault.py

    # PAS 2 — Security Scan (Part 3)
    - name: Security Scan (Brute Force Selenium)
      run: |
        python attack_bot.py
